Django>=4.2.16,<5.0
django-allauth[socialaccount]==65.14.3
django-browser-reload==1.12.1
django-ses>=4.8.0,<5
django-tailwind==4.5.0
gunicorn==26.2.0
Markdown>=3.7,<4
Pillow>=12.3.0,<13
webauthn>=2.0
whitenoise==6.7.0
