Django>=4.2.16,<5.0
django-allauth[socialaccount]==65.19.3
django-browser-reload==1.12.1
django-ses>=3.5,<4
django-tailwind==3.6.0
gunicorn==22.0.0
Markdown>=3.7,<4
Pillow>=11,<13
webauthn>=2.0
whitenoise==6.7.0
